.weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #fff;
  text-align: center;
  text-shadow: 3px 3px 3px rgba(50, 50, 70, 0.5);
  transition: 1s ease;
  margin: 30px auto;
  padding: 15px 25px;
  font-weight: 900;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 3px 3px 3px rgba(50, 50, 70, 0.5);
  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  &__main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
  }

  &__icon {
    height: 80px;
    width: auto;
    filter: drop-shadow(3px 3px 3px rgba(50, 50, 70, 0.5));
  }
  
  &__temperature {
    font-size: 3rem;

  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 10px;
    @media (max-width: 990px) {
      align-items: center;
    }
  }

  &__descr {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin: 15px 0;

  }

  &__forecastDayly {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    @media (max-width: 970px) {
      justify-content: center;
    }

    .weather {
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 0;
      margin-right: 10px;
      max-width: 300px;
      @media (max-width: 970px) {
        margin: 10px;
      }

      &:last-child {
        margin-right: 0;
        @media (max-width: 970px) {
          margin: 10px;
        }
      }

      &__info {
        align-items: center;
      }

      &__descr {
        margin-bottom: 0;
      }
    }

  }


  &__useSearch {
    width: 256px;
    height: auto;
  }
}

hr {
  color: rgba(255, 255, 255, 0.2);;
  background-color: rgba(255, 255, 255, 0.2);
  border: 0px none;
  border-radius: 3px;
  height: 3px; 
}
