.search {
  width: 100%; 
  margin-bottom: 75px;
  @media (max-width: 800px) {
    margin-bottom: 50px;
  }
  

  & .search__bar {
    display: block;
    width: 100%;
    padding: 15px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0 0 10px 16px;
    box-shadow: 0 5px rgba(0, 0, 0, 0.2);

    appearance: none;
    border: none;
    outline: none;

    &:focus {
      background-color: rgba(255, 255, 255, 0.5);
      transition: 0.4s ease;
    }
    
    &::placeholder{
      color: rgba(0, 0, 0, 0.5);
      text-align: center;
    }
  } 
}
