.search__box {
  width: 100%; 
  margin: 0 auto 75px;

  & .search__bar {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0 0 10px 16px;
    box-shadow: 0 5px rgba(0, 0, 0, 0.2);

    appearance: none;
    border: none;
    outline: none;

    &:focus {
      background-color: rgba(255, 255, 255, 0.75);
    }
  } 
}